---
import { Image } from "astro:assets";
import logo from '../assets/logo.png'
---
<footer class="pb-10">
    <section class="mx-8 xl:px-8 3xl:px-12 flex max-sm:flex-col sm:items-center sm:justify-between gap-y-6 border-t-2 border-gray-100 pt-10">
        <Image src={logo} alt="Hubit logo" />
        <div class="flex max-sm:flex-col sm:items-center gap-3 md:gap-5 lg:gap-8 xl:gap-10 2xl:gap-14 font-semibold text-lg 3xl:text-xl 3xl:text-2xl">
            <a class="cursor-pointer border-transparent border-b-2 hover:border-b-coral mt-1 duration-500" href="#">Contact</a>
            <a class="cursor-pointer border-transparent border-b-2 hover:border-b-coral mt-1 duration-500" href="#">Terms & Conditions</a>
            <a class="cursor-pointer border-transparent border-b-2 hover:border-b-coral mt-1 duration-500" href="#">Privacy Policy</a>
        </div>
    </section>
</footer>