---
import { HeroCompaniesMarquee } from "./HeroCompaniesMarquee";
---


<div class="px-10 mt-7">
    <p class="text-lg text-center text-gray-700 font-medium">Thousands of businesses use Hubit to improve daily work</p>
    <HeroCompaniesMarquee />
</div>