---
import { HeroCompaniesMarquee } from "./HeroCompaniesMarquee";
---


<div class="px-10 md:px-32 lg:px-52 xl:px-72 2xl:px-96 3xl:px-[450px] min-[2000px]:px-[550px] min-[2200px]:px-[675px] my-10 md:my-20">
    <p data-aos="fade-up" data-aos-duration="1000" class="text-lg text-center text-gray-700 font-medium">Thousands of businesses use Hubit to improve daily work</p>
    <HeroCompaniesMarquee />
</div>